button.clean-btn {
    background-color: transparent;
    border:none;
    cursor:pointer;
    padding:0;
}

button.link-btn {
    background-color: transparent;
    border:none;
    text-decoration: underline;
    cursor:pointer;
    padding:0;
}