:host {
    & section {
        margin: 0 auto;
        max-width: 580px;
    }

    .overflow-wrapper {
        overflow-y: auto;
        max-height:50vh;
        overflow-y: auto;
    }

    & .history {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        &__entry {
            display: flex;
            gap: 2rem;
            border-bottom: 1px solid lightgray;
        }

        &__clear {
            margin-top: 2rem;
        }
    }
}