<div>
    <input type="number" [formControl]="inputValueControl" step="0.01" pattern="^\d*(\.\d{0,2})?$"/>
    <select [formControl]="inputCurrencyControl">
        <option *ngFor="let option of defaultOptions" [value]="option.code">{{option.symbol}}</option>
    </select>
</div>

<button class="switch" (click)="switchCurrencies()">
    <img class="switch__img"src="assets/arrow-left-right-fill.svg" />
</button>

<div>
    <input type="number" [formControl]="outputValueControl" pattern="^\d*(\.\d{0,2})?$"/>
    <select [formControl]="outputCurrencyControl">
        <option *ngFor="let option of defaultOptions" [value]="option.code">{{option.symbol}}</option>
    </select>
</div>