:host {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    & .switch {
        display:block;
        cursor:pointer;

        &__img {
            height: 2rem;
            width: 2rem
        }
    }

    & input, & select {
        padding: 0.5rem;
        border:none;
        background-color: rgba(22,22,22,.1);
    }

    & input {
        padding: 0.6rem;
    }
}