@import '../../scss/viewport.scss';

:host {
    display:block;
    & .hero {
        background-color: #04151f;
        display:flex;
        justify-content: center;
    }

    & section {
        width: 97%;
        min-width:30rem;
        max-width:58rem;
        padding: 2rem 1rem;
        margin: 0 auto;
        background-color: white;

    }

    & .calculator {
        display: flex;
        align-items: center;
        justify-content: center;
        border: .1rem solid white;
        border-radius: 0.4rem;

        margin-top: -3rem;
        z-index: 9;
        position: relative;
    }
}